/* chrome://browser/content/browser.xhtml */

:root {
  /* background color of url bar */
  --mw-urlbar-bg: #222d32;
  
  /* background of toolbar behind url bar */
  --mw-toolbar-bg: #263238;
  
  /* fill color of icons right of url bar */
  --mw-toolbar-right-icon-fill: #d0d0d0;
  
  /* fill color of urlbar right icons */
  --mw-urlbar-icon-color: #d0d0d0;
  
  /* background colour behind tabs and of unselected tabs */
  --mw-tabbar-bg: #1c2125;

  /* colour of selected tab: same as toolbar */
  --mw-tab-selected-bg: var(--mw-toolbar-bg);
  
  /* colour of background tab playing sound */
  --mw-tab-soundplaying-bg: #404040;
  
  /* tab border radius */
  --mw-tab-border-radius-top: 4px;
  --mw-tab-border-radius-bottom: 0;
  
  /* tab font */
  --mw-tab-title-font-family: "Ubuntu mono", monospace;
  --mw-tab-title-font-weight: 500;
  --mw-tab-selected-title-font-weight: 800;
  --mw-tab-title-font-size: 12px;
  --mw-tab-title-text-color: #fefefe;
  
  /* border radius of url bar */
  --mw-urlbar-border-radius: 2px;
  
  /* urlbar text style */
  --mw-urlbar-text-color: #eaeaea;
  --mw-urlbar-focused-text-color: #eaeaea;
  --mw-urlbar-font-family: "ubuntu mono", monospace;
  --mw-urlbar-font-size: 14px;
  --mw-urlbar-font-weight: 500;
  
  --mw-urlbar-results-text-color: #d5d5d5;
  --mw-urlbar-results-font-family: "ubuntu mono", monospace;
  --mw-urlbar-results-font-size: 14px;
  --mw-urlbar-results-font-weight: 500;
  
  --mw-urlbar-results-url-color: #808080;
  --mw-urlbar-results-switch-to-tab-row-text-color: orange;
  
  --mw-urlbar-results-padding-left: 27px;

  /* Minimal Functional Fox variables*/
/*   --mff-bg: var(--mw-bg);
  --mff-icon-color: #d0d0d0;
  --mff-tabbar-bg: #252525;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #e0fbfc;
  --mff-tab-color: #fefefa;
  --mff-tab-font-family: "Fira Sans", sans;
  --mff-tab-font-size: 10pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 30px;
  --mff-tab-border-radius-top: 4px;
  --mff-tab-border-radius-bottom: 0px;
  --mff-tab-pinned-bg: #70c1b3;
  --mff-tab-selected-bg: #535353;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: #98c1d9;
  --mff-urlbar-focused-color: #e0fbfc;
  --mff-urlbar-font-family: "Fira Sans", sans;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 400;
  --mff-urlbar-results-color: #e0fbfc;
  --mff-urlbar-results-font-family: "Fira Sans", sans;
  --mff-urlbar-results-font-size: 11pt;
  --mff-urlbar-results-font-weight: 400;
  --mff-urlbar-results-url-color: #98c1d9; */

/*   --mff-urlbar-border-radius: 2px; */
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */
  /* --mff-tab-soundplaying-bg-selected: linear-gradient(180deg, var(--mff-tab-soundplaying-bg) 0%, var(--mff-tab-selected-bg) 30%);
  --mff-tab-soundplaying-bg-unselected: linear-gradient(180deg, var(--mff-tab-soundplaying-bg) 0%, transparent 30%); */

  /* Overriden Firefox variables*/
  /* bg of autocompletes?  */
  --autocomplete-popup-background: var(--mw-urlbar-bg) !important;
  /* bg of dropdowns from toolbar */
  --default-arrowpanel-background: var(--mw-urlbar-bg) !important;
  
/*   --default-arrowpanel-color: #fefefa !important; */
  --lwt-toolbarbutton-icon-fill: var(--mw-toolbar-right-icon-fill) !important;
/*   --panel-disabled-color: #f9f9fa80; */
  
  /* hides separator line between urlbar icons */
  --urlbar-separator-color: transparent !important;
  
  /* border radious of toolbar button backgrounds (that show on hover) */
  --toolbarbutton-border-radius: 2px !important;
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/

.tab-background[selected="true"] {
  background: var(--mw-tab-selected-bg) !important;
}

/* .tab-background:not[visuallyselected] {
  background: var(--mff-tab-selected-bg) !important;
  opacity: 0.5 !important;
} */

/* This positions the tabs under the navigator container */
/* #titlebar {
  -moz-box-ordinal-group: 3 !important;
} */

/* background colour of tab bar behind tabs (also colour of unselected tabs) */
#TabsToolbar {
  background: var(--mw-tabbar-bg) !important;
}

/* #navigator-toolbox {
  --tabs-border-color: transparent !important;
} */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

/*  disables flash when a tab loads */
.tabbrowser-tab .tab-loading-burst {
  display: none !important;
}

.tab-background {
  /* no tab border */
  border: none !important;
  /* set corner radius of tabs */
  border-radius: var(--mw-tab-border-radius-top) var(--mw-tab-border-radius-top)
    var(--mw-tab-border-radius-bottom) var(--mw-tab-border-radius-bottom) !important;
}

.tabbrowser-arrowscrollbox {
  margin-inline-start: 4px !important;
  margin-inline-end: 0px !important;
}

/* hide tab close btn */
.tab-close-button {
  display: none !important;
}

/* show tab close btn on hover */
/* .tabbrowser-tab .tab-close-button {
  -moz-box-ordinal-group: 0 !important;
  margin: 2px 6px 0 0 !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: -moz-box !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-text {
  padding-right: 25px !important;
} */


/* tab title text style */
.tab-text {
  font-family: var(--mw-tab-title-font-family);
  font-weight: var(--mw-tab-title-font-weight);
  font-size: var(--mw-tab-title-font-size) !important;
  color: var(--mw-tab-title-text-color);
}

/* bolder text on selected tab */
.tab-text[selected="true"] {
  font-weight: var(--mw-tab-selected-title-font-weight);
}

/* Hide the favicon for tabs */
hbox.tab-content .tab-icon-image {
  display: none !important;
}

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned="true"] .tab-icon-image {
  display: initial !important;
}

/* hide tab title text for pinned tabs */
hbox.tab-content[pinned="true"] .tab-text {
  display: none !important;
}

#tabbrowser-tabs {
  /* color of tab loading icon */
  --tab-loading-fill: #033433 !important;
}

/* centre tab title text */
.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* disable line at top of tabs */
.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: var(--mw-tab-border-radius-top) var(--mw-tab-border-radius-top)
    var(--mw-tab-border-radius-bottom) var(--mw-tab-border-radius-bottom) !important;
  border-width: 0;
  border-color: transparent !important;
/*   height: var(--mw-tab-height) !important; */
  margin-inline-end: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
/*   max-height: var(--mw-tab-height) !important;
  min-height: var(--mw-tab-height) !important; */

}

/* set colour of tab playing sound */
.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mw-tab-soundplaying-bg) !important;
}

/* let tabs expand to fill full width of tab bar */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 80% !important;
}

/* new tab button */
#tabs-newtab-button {
  list-style-image: url("ic_dot.svg") !important;
  opacity: 0.5;
  /* move icon down a tiny bit to match window buttons vertically */
  margin-top: 0.5px !important;
/*   -moz-box-ordinal-group: 0 !important; */
}

#tabs-newtab-button:hover {
  list-style-image: url("ic_add_circle.svg") !important;
}

/* hide new tab button background on hover */
#tabs-newtab-button:hover > .toolbarbutton-icon {
  background-color: transparent !important;
}

.tab-icon-sound {
  display: none !important;
}

/* hide space to left of tabs */
.titlebar-spacer[type="pre-tabs"] {
  width: 0px !important;
  max-width: 0px !important;
}

/* space to right of tabs */
.titlebar-spacer[type="post-tabs"] {
  width: 40px !important;
  max-width: 40px !important;
}

#nav-bar {
  border-top: none !important;
  box-shadow: none !important;
}

#tracking-protection-icon-container,
#permissions-granted-icon,
#identity-box > *:not(#identity-icon),
/* #pageActionButton, */
.urlbar-icon:not(#pocket-button) 
{
  display: none !important;
}

/* back and forward buttons */
#back-button > .toolbarbutton-icon, #forward-button > .toolbarbutton-icon,
/* icons at left of url bar */
#identity-box,
#tracking-protection-icon-container {
  background-color: transparent !important;
}

/* slightly round corners of icons at right of url bar */
.urlbar-icon,
.urlbar-icon-wrapper {
  border-radius: var(--toolbarbutton-border-radius) !important;
}

/* increase space between last url bar icon and right edge */
#urlbar {
/*   padding-right: 2px !important; */
}

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/

.urlbar-icon > image {
/*   fill: var(--mff-icon-color) !important; */
/*   color: var(--mff-icon-color) !important; */
/*   color: #f00 !important;
  fill: #f00 !important; */
}

.toolbarbutton-text {
/*   color: var(--mff-icon-color)  !important; */
}
.urlbar-icon {
/*   color: var(--mff-icon-color)  !important; */
/*   color: #f00 !important; */
}

/* .toolbarbutton-icon {
filter: drop-shadow(0 0 0.75rem crimson);
} */



/* .urlbarView-row[type="bookmark"] > span{
  color: green !important;
} */

/* change text color for "switch to tab" results */
.urlbarView-row[type="switchtab"] > span{
  color: var(--mw-urlbar-results-switch-to-tab-row-text-color) !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--mw-urlbar-results-url-color) !important;
  font-family: var(--mw-urlbar-font-family);
  font-weight: var(--mw-urlbar-results-font-weight);
  font-size: var(--mw-urlbar-font-size) !important;
}

/* hide site favicons in urlbar results dropdown */
.urlbarView-favicon, .urlbarView-type-icon {
  display: none !important;
}

/* add padding to left of urlbar results dropdown */
.urlbarView-row {
  padding-left: var(--mw-urlbar-results-padding-left) !important;
}

#urlbar-input {
  font-size: var(--mw-urlbar-font-size) !important;
  font-family: var(--mw-urlbar-font-family) !important;
  font-weight: var(--mw-urlbar-font-weight) !important;
  color: var(--mw-urlbar-text-color) !important;
/*   text-align: center !important; */
  padding-left: 10px !important;
}

#urlbar-results {
  font-size: var(--mw-urlbar-results-font-size) !important;
  font-family: var(--mw-urlbar-results-font-family);
  font-weight: var(--mw-urlbar-results-font-weight);
  color: var(--mw-urlbar-results-text-color) !important;
}

/* toolbar background color */
toolbar {
  background-image: none !important;
  background-color: var(--mw-toolbar-bg) !important;
}

/* back and forward btns */
#back-button {
  list-style-image: url("ic_back.svg") !important;
  margin-left: 5px !important;
}

#back-button:hover:not([disabled]) {
  list-style-image: url("ic_back_lg.svg") !important;
}

#forward-button {
  list-style-image: url("ic_forward.svg") !important;
}

#forward-button:hover:not([disabled]) {
  list-style-image: url("ic_forward_lg.svg") !important;
}

/* slightly transparent url bar and dropdown */
#urlbar-background {
  /* opacity of url input bar */
  opacity: 0.99 !important;
}

#navigator-toolbox,
toolbaritem {
  border: none !important;
}

#urlbar-background {
  box-shadow: none !important;
  background-color: var(--mw-toolbar-bg) !important;
  border: none !important;
  /* slightly round the corners of the url bar */
  border-radius: var(--mw-urlbar-border-radius) !important;
}

/* disable url bar increasing in size on focus */
#urlbar[breakout],
#urlbar[breakout][breakout-extend] {
/*   --urlbar-height: 28px !important; */
/*   --urlbar-toolbar-height: var(--urlbar-toolbar-height) !important; */

  width: 100% !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
/*   top: 2px !important; */
  left: 0 !important;
  
/*   background: #f00 !important; */
}

#urlbar[breakout]:not([open]) {
  bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  width: 100% !important;
  padding-block: unset !important;
  padding-inline: unset !important;
  transition: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) !important;
/*   animation: none !important; */
  background: var(--mw-urlbar-bg) !important;
}

/*

.toolbar-items {
  background-color: var(--mff-bg) !important;
}

#sidebar-search-container {
  background-color: var(--mff-sidebar-bg) !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: 8px !important;
  border: none !important;
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

image#star-button {
  display: none;
}
*/
/* toolbar#nav-bar {
  padding: var(--mff-nav-toolbar-padding) !important;
}

toolbar#nav-bar {
  padding: 4px !important;
} */

/* width of search bar */
/* #urlbar {
  max-width: 80% !important;
  margin: 0 10% !important;
} */

#urlbar-input:focus {
  color: var(--mw-urlbar-focused-text-color) !important;
}

.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: #0008 !important;
  background-color: var(--mw-urlbar-bg) !important;
  padding: 0 !important;
}

toolbarbutton {
  box-shadow: none !important;
}

.close-icon,
.urlbar-icon {
  fill: var(--mw-urlbar-icon-color) !important;
}

.sidebar-placesTree {
  color: var(--mff-sidebar-color) !important;
}

#sidebar-switcher-target {
/*     color: white !important; */
}

#sidebar-box {
  --sidebar-background-color: var(--mff-sidebar-bg) !important;
}

splitter#sidebar-splitter {
  opacity: 0 !important;
}

splitter#sidebar-splitter {
  border: none !important;
  background-color: transparent !important;
}

image#sidebar-icon {
  display: none;
} 

/* .panel-arrowcontent {
  padding: 0px !important;
  margin: 0px !important;
}

toolbarseparator {
  display: none;
} */

/* auto hide url bar */
/* toolbox {
  z-index: 10;
  margin-top: 0 !important;
  margin-bottom: -30px !important;
  height: 0 !important;
  pointer-events: none;
}

vbox {
  pointer-events: all;
}

#nav-bar {
  opacity: 0;
  transform-origin: 0 0;
  pointer-events: none;
  transition: transform, ease-in-out 0.2s, opacity 0.2s ease-in-out !important;
}

vbox:hover ~ #nav-bar, toolbox:focus-within > #nav-bar, #nav-bar:hover, #mainPopupSet:hover ~ box #nav-bar, #mainPopupSet:focus-within ~ box #nav-bar {
  opacity: 1;
  transform: none;
  pointer-events: all;
} */

/* move page content down so it doesnt get covered when unhiding url bar */
/* toolbox:hover {
  margin-bottom: 0 !important;
} */
















